    <footer>
      <div>&copy; <a href="http://github.com/ehazlett/nginx-rt-log" target="_nginxrtlog">nginx-rt-log</a>, <%= new Date().getFullYear() %></div>
    </footer>
    <!-- scripts -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/smoothie.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript">
      $(function(){
      });
    </script>
  </body>
</html>
