html {
  width: 100%;
  height: 100%;
  margin: 0px;
}
body {
  background: url('/img/bg.png');
  padding-top: 50px;
  font-family: 'Pontano Sans', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
}
.well {
  border: 1px solid #d5d5d5;
}
.content {
}
div#legend {
  margin: 15px 0 0 0;
  word-wrap: break-word;
}
a.legendItemRemove, a.legendItemRemove:hover {
  font-size: 10px;
  padding-left: 2px;
  color: #a1a1a1;
  vertical-align: super;
}
span.legendItem {
  margin-right: 5px;
}
footer {
  margin: 50px auto 20px auto;
  width: 100%;
  color: #b3b3b3;
  text-align: center; /* center align it with the container */
}
.center {
  margin: 0px auto 0px auto;
  text-align: center;
}
