{% extends 'base.html' %}

{% block root_content %}
<div id="container"></div>
<script type="text/javascript">
  var chart; // globally available
  var options = {
     chart: {
        animation: false,
        renderTo: 'container',
        type: 'column'
     },
     legend: {
       enabled: true
     },
     plotOptions: {
       column: {
         animation: false
       }
     },
     title: {
        text: 'Requests'
     },
     xAxis: {
       categories: ['Clients']
     },
     yAxis: {
       title: {
         text: 'Requests'
       }
     },
     series: [{
       name: 'Requests',
       dataLabels: {
         enabled: true,
       },
       data: []
     }]
  }
  function update(){
    $.getJSON('/stats', function(data) {
      var seriesData = [];
      for (var i=0, len=data.length; i<len; i++) {
        seriesData.push({name: data[i].client, data: [data[i].requests]});
      }
      if (data.length > 20) { options.legend.enabled = false; }
      options.series = seriesData;
      chart = new Highcharts.Chart(options);
    });
  }
  $(function() {
    update();
    setInterval(update, 1000);
  });
</script>
{% endblock %}
