{% extends 'base.html' %}

{% block root_content %}
<div class="pull-right toolbar">
  <a id="btn-update" href="#" class="btn">{{_('Pause')}}</a>
  <a id="btn-reset" href="#" class="btn">{{_('Reset')}}</a>
</div>
<div id="container"></div>
<script type="text/javascript">
  var updateInterval;
  var chart;
  var options = {
     chart: {
        animation: false,
        renderTo: 'container',
        type: 'column'
     },
     legend: {
       enabled: true
     },
     plotOptions: {
       column: {
         animation: false
       }
     },
     title: {
        text: "{{_('Requests')}}"
     },
     xAxis: {
       categories: ["{{_('Clients')}}"]
     },
     yAxis: {
       title: {
         text: "{{_('Requests')}}"
       }
     },
     series: [{
       name: "{{_('Requests')}}",
       dataLabels: {
         enabled: true,
       },
       data: []
     }]
  }
  $("a#btn-update").click(function(){
    if (updateInterval) {
      $(this).text("{{_('Resume')}}");
      stopUpdater();
    } else {
      $(this).text("{{_('Stop')}}");
      startUpdater();
    }
  });
  $("a#btn-reset").click(function(){
    if (confirm("{{_('Reset stats?')}}")) {
      $.get("{{url_for('reset_stats')}}");
      return false;
    }
  });
  function update(){
    $.getJSON("{{url_for('stats')}}", function(data) {
      var seriesData = [];
      for (var i=0, len=data.length; i<len; i++) {
        seriesData.push({name: data[i].client, data: [data[i].requests]});
      }
      if (data.length > 20) { options.legend.enabled = false; }
      options.series = seriesData;
      chart = new Highcharts.Chart(options);
    });
  }
  function startUpdater() {
    updateInterval = setInterval(update, {{update_interval}});
  }
  function stopUpdater() {
    clearInterval(updateInterval);
    updateInterval = null;
  }
  $(function() {
    update();
    startUpdater();
  });
</script>
{% endblock %}
